body{
    display: flex;
}

#wrapper{
    display: flex;
    width: 430px;
    height: 670px; 
    background-color: grey;
    border: solid black 1px;
    border-radius: 2%;
}

.screen{
    width: 420px;
    height: 170px;
    background-color: white;
    border: solid black 1px;
    margin: 0 auto;
}